<div class="container">
  <div class="row">
    <div class="col-md-4">
        <nav class="navbar navbar-light">
          <h2 class='title'>Editing Genre</h2>
        </nav>
    </div>
  </div>
  <%= render partial: 'layouts/flash' %>
  <div class='row center'>
    <div class='newitem'>
      <%= form_for(@genre, url: admin_genre_path(@genre)) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-group">
          <label for='inputName'>Name</label>
          <%= f.text_field :name,class:"col-xs-12" %>
        </div>
        <div class="form-group center">
          <%= f.submit 'Submit', class: "btn btn-dark" %>
        </div>
      <% end %>
    </div>
  </div>
<div>