<div class='container'>
  <div class='row'>
    <h2>Your Order</h2>
  </div>
  <div class='row'>
    <table class='table bodydesign'>
      <thead>
        <tr>
          <th class='text-white bg-dark'>Date</th>
          <th class='text-white bg-dark'>Send Address</th>
          <th class='text-white bg-dark'>Items</th>
          <th class='text-white bg-dark'>Price</th>
          <th class='text-white bg-dark'>Status</th>
          <th class='text-white bg-dark'>Detail</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <th><%= order.created_at.to_s(:datetime_jp) %></th>
            <th>
              <%= order.postal_code %><br>
              <%= order.address %><br>
              <%= order.name %>
            </th>
            <th>
              <% order.order_details.each do |order_detail| %>
                <%= order_detail.item.name %><br>
              <% end %>
            </th>
            <th><%= order.total_payment %></th>
            <th><%= order.status %></th>
            <th><%= link_to 'Detail', order_path(order), class:'btn btn-sm btn-dark' %></th>
          </tr>
        <% end %>
      </body>
    </table>
  </div>
</div>