<div class='container'>
  <div class='row'>
    <div class='md-col-4'>
      <h2 class='title'>Order Detail</h3>
    </div>
  </div>

  <div class='row'>
    <div class='md-col-2'>
      <table class='table table-borderless title'>
        <body>
          <tr>
            <th>Name</th>
            <th><%= @order.name %></th>
          </tr>
          <tr>
            <th>Purchase Date</th>
            <th><%= @order.created_at.to_s(:datetime_jp) %></th>
          </tr>
          <tr>
            <th>Send Address</th>
            <th><%= @order.address %></th>
          </tr>
          <tr>
            <th>Payment Method</th>
            <th><%= @order.payment_method %></th>
          </tr>
          <tr>
            <th>Order Status</th>
            <th><%= @order.status %></th>
          </tr>
        </body>
      </table>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row align-items-end'>
    <div class='col-md-10 offset-md-1'>
      <table class='table bodydesign'>
        <thead>
          <tr>
            <th class='text-white bg-dark'>Item</th>
            <th class='text-white bg-dark'>Cost(in_tax)</th>
            <th class='text-white bg-dark'>Amount</th>
            <th class='text-white bg-dark'>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <th><%= order_detail.item.name %> </th>
              <th><%= tax_price(order_detail.price) %></th>
              <th><%= order_detail.amount %></th>
              <th><%= subtotal_price(order_detail.price, order_detail.amount) %></th>
            </tr>
          <% end %>
        </body>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-5 offset-1'>
      <table class='table table-borderless title-orderdetail'>
        <tbody>
          <tr>
            <th>Item Total</th>
            <th>
              <%= total_price_no_shipping(@order_details) %><text> yen</text>
            </th>
          </tr>
          <tr>
            <th>Shipping</th></th>
            <th>
              <%= @order.shipping_cost %><text> yen</text>
            </th>
          </tr>
          <tr>
            <th>Billed Amount</th>
            <th>
              <%= @order.total_payment %><text> yen</text>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>