<nav class='navbar navbar-expand-lg p-0 navbar-dark bg-dark'>
  <div class='container-fluid'>
    <div class='row mx-auto'>
      <p class='navbar-brand'><%= link_to 'Art Descovery', root_path, class:'text-light underline', :style => 'text-decoration:none;' %></p>
    </div>
  </div>
</nav>
<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container'>
    <div class='row mx-auto'>
      <div class='navbar-collapse collapse show'>
        <ul class='navbar-nav'>
        <% if customer_signed_in? %>
          <li class='fas nav-link navitem'><%= link_to 'Home', root_path, class:'text-light underline',:style => 'text-decoration:none;' %></li>
          <li class='fas nav-link navitem'><%= link_to 'Painting', items_path, class:'text-light underline', :style => 'text-decoration:none;' %></li>
          <li class='fas nav-link navitem'><%= link_to 'About', home_about_path, class:'text-light underline', :style => 'text-decoration:none;' %></li>
          <li class='fas nav-link navitem'><%= link_to 'Shopping', cart_item_path(current_customer), class:'text-light underline', :style => 'text-decoration:none;' %></li>
          <li class='fas nav-link navitem'><%= link_to '', customer_path(current_customer), class:'text-light fas fa-user underline', :style => 'text-decoration:none;' %></li>
        <% else %>
          <li class='fas nav-link navitem'><%= link_to 'Home', root_path, class:'text-light underline',:style => 'text-decoration:none;' %></li>
          <li class='fas nav-link navitem'><%= link_to 'Painting', admin_items_path, class:'text-light underline', :style => 'text-decoration:none;' %></li>
          <li class='fas nav-link navitem'><%= link_to 'About', home_about_path, class:'text-light underline', :style => 'text-decoration:none;' %></li>
          <li class='fas nav-link navitem'><%= link_to 'Order', admin_orders_path, class:'text-light underline', :style => 'text-decoration:none;' %></li>
          <li class='fas nav-link navitem'><%= link_to '', customers_path, class:'text-light fas fa-user underline', :style => 'text-decoration:none;' %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>