<div class='container'>
  <div class='row'>
    <div class='col-md-3 offset-md-1'>
      <nav class="navbar navbar-light" >
       <h2>Items</h2>
      </nav>
    </div>
    <div class='col-3 offset-5'>
      <%= link_to new_admin_item_path, class:"btn btn-outline-dark rounded-circle p-0 button_text", :style => "width:3rem;height:3rem;" do %>
      <text class='button_text'>+</text>
      <% end %>
    </div>
  </div>
  <%= render partial: 'layouts/flash' %>
  <div class='row center'>
   <div class="col-8 offset-1">
    <table class='table'>
      <thead class="thead-light bodydesign">
        <tr>
          <th class='text-white bg-dark'>ID</th>
          <th class='text-white bg-dark'>Name</th>
          <th class='text-white bg-dark'>Price(no_tax)</th>
          <th class='text-white bg-dark'>Genre</th>
          <th class='text-white bg-dark'>Status</th>
        </tr>
      </thead>
      <tbody class='title bodydesign'>
        <% @items.each do |item| %>
          <tr>
            <th><%= item.id %></th>
            <th><%= link_to item.name, admin_item_path(item.id), :style => 'color:black;' %></th>
            <th class='textalign'><%= item.price %></th>
            <th><%= item.genre.name %></th>
            <% if item.is_active == true %>
              <th class='text-success'>販売中</th>
            <% else %>
              <th class='text-secondary'>売切れ</th>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>
  </div>
  <div class='row'>
      <div class='mx-auto pagination-design'>
        <p><%= paginate @items %></p>
      </div>
  </div>
</div>
